.list-user-container{
    .list-user-content{
        width: 400px;
        height: 40px;
        margin: 1.5rem auto;
        .child{
            gap: 1.2rem;
            border: 1px solid gray;
            padding: 1.5rem auto;
            margin-top: 0.5rem;
            border-radius: 0.5rem;
            &:hover{
                cursor: pointer;
                color: rgb(141, 236, 205);
                background: transparent;
            }
        }

    }
}
